@import "tailwindcss";

@theme {

  /*Color*/
  --color-primary: #00b500;
  --color-light-primary: #E6FFE6;
  --color-primary-hover: #018c01;
  --color-gray-900: #1E293B;
  --color-gray-800: #1E293B;
  --color-gray-500: #64748B;
  --color-gray-400: #94A3B8;
  --color-gray-200: #E2E8F0;
  --color-gray-100: #F1F5F9;
  --color-light-gray: #f2f2f2;
  --color-border-gray: #C0C0C0;
  --color-medium-gray: #626262;
  --color-login-gray:#F8FAFC;
  --color-product-desc:#888888;
  --color-yellow:#FFC700;
  

  /*Font Size*/
  --text-22: 22px;
  --text-3xl: 32px;
  --text-34: 34px;
  --text-4xl: 40px;

  /*Padding-Margin*/
  --spacing-30: 30px;
  --spacing-42: 42px;
  --spacing-90: 90px;

  /*Font Family*/ 
  --font-sans: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  
}
.font-poppins {
  font-family: var(--font-poppins);
}
.font-inter {
  font-family: var(--font-sans);
}
body {
  font-family: var(--font-sans);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9; 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #8b8b8b;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8b8b8b;
}
